@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
#navebar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding:.5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: rgba(0, 0, 0, 0.644);
}
#navbarSupportedContent{
    border-bottom: 2px solid transparent;

}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid yellow;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******Home*****/


#home{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(https://images.unsplash.com/photo-1555178897-59f4cdf2427d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    background-attachment: fixed;
}
#home h1{
    font-size: 70px;
    text-shadow: 0px 1px 0px rgb(230, 182, 27),
                 0px 2px 0px rgb(0, 0, 0),
                 0px 3px 0px rgb(0, 0, 0),
                 0px 4px 0px rgb(0, 0, 0),
                 0px 5px 0px rgb(0, 0, 0),
                 0px 6px 0px rgb(0, 0, 0),
                 0px 7px 0px rgb(0, 0, 0);
}
#home .input-group{
    width: 40%;
    height: 45px;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
}
#email{
    background-color: rgba(0, 0, 0, 0.61);
}
#getstartbutton{
    background-color: rgba(255, 255, 0, 0.671);
}
#getstartbutton:hover{
    background-color: rgb(255, 255, 0);
}
#paragraph{
    font-size: 25px;
}

#products img{
    width: 260px;
    height: 200px;
    
}

.card{
    width: 260px;
    height: 300px;
    box-shadow: 13px 18px 18px rgba(0,0,0.3);
    border-bottom-right-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
                
}
#about{
    /*background-color: rgba(255, 166, 0, 0.781);*/
    background-image: url(https://images.unsplash.com/photo-1587858588560-77c97762d0de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1536&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#products{
    background-image: url(https://images.unsplash.com/photo-1600381934582-a3655589887d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-size: cover;
}

.expandbutton{
    display: flex;
    justify-content:end ;
    margin-right: 0;
}


/**Contact**/

#contact img{
    height: 100%;
}
.box{
    width: 80% !important;
    margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 25rem;
}
#contact input{
    margin: 10px 0px;
}
#contact textarea{
    margin: 10px 0px;
}
footer{
    width: 100%;
}

/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.2);
  }

  /* [1] The container */
.zoom {
    height: 150px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .zoom #ourproduct {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .zoom:hover #ourproduct {
    transform: scale(1.2);
  }


  #home {
    height: 100px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  #home #organicspices {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  #home:hover #organicspices {
    transform: scale(1.2);
  }

#aboutusbackground{
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 20px;
}
#carouselimage{
    height:600px;
    width:100%;
}
#aboutbox{
    background-color: rgba(0, 0, 0, 0.678);
}

  #contact{
      background:linear-gradient(rgba(0, 0, 0, 0.562),rgba(0, 0, 0, 0.637)),url(https://images.unsplash.com/photo-1596040033229-a9821ebd058d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
  }


  
  